<button (click)="dec()">
    Remove tab
</button>
<button (click)="inc()">
    Add tab
</button>

<br>

<div class="tabs__titles">
    <tab *ngFor="let tab of tabs; let i = index" [tab]="tab" [ngClass]="{'tabs__title--active': tab.active, tabs__title: true}" (click)="select(i)">
        <div class="tab-title">
            {{ tab.title }}
        </div>
        <div class="tab-content">
            {{ tab.content }}
          <test [tab]="tab.id"></test>
          <hello [name]="tab.title"></hello>
        </div>
      </tab>
</div>
  

  <form>
    <input type="text" [value]="newTabTitle" name="title" id="title" [(ngModel)] = "newTabTitle">
    <input type="text" [value]="newTabContent" name="content" id="content" [(ngModel)] = "newTabContent">
    <input type="submit" value="add custom tab" (click)="addCustomTab()">
  </form>